button,
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
  outline: inherit;
  border: none;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
  transition-duration: unset;
}

a {
  color: unset;
  text-decoration: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

.sw-main {
  background-color: #f9f9fa;
  min-height: 100vh;
}

.sw-wrap {
  padding-right: 48px;
  padding-left: 48px;
}

.sw-area {
  width: 100%;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .sw-wrap {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 479px) {
  .sw-wrap {
    padding-right: 20px;
    padding-left: 20px;
  }

  .sw-wrap.for-cards {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.sw-card-name {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.sw-card__details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.page-filters__spot-name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 14px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.switch-view {
  display: -ms-grid;
  display: grid;
  margin-left: 20px;
  grid-auto-columns: 1fr;
  grid-column-gap: 6px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.sw-card__details-title {
  margin-bottom: 5px;
  color: #82868f;
  font-size: 11px;
  line-height: 14px;
}

.sw-card {
  margin-bottom: 10px;
  border: 1px solid #e9ebee;
  background-color: #fff;
  -webkit-transition: border 200ms cubic-bezier(.39, .575, .565, 1);
  transition: border 200ms cubic-bezier(.39, .575, .565, 1);
  cursor: pointer;
}

.sw-card:hover {
  border-color: #0ca4da;
}

.sw-card__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 10px;
}

.page-sort__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sw-card__details-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sw-card__price-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.switch-view__icon-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 18px;
  height: 18px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-sort__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-sort {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.results-grid {
  margin-bottom: 0vh;
}

.sw-card__details-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.sw-card-external img {
  width: 44px;
}

.page-head__filters {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 20px 0px 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e0e0eb;
}

.page-title__search-name {
  color: #0ca4da;
}

.page-filter-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -1px;
  padding: 12px 22px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #e9ebee;
  background-color: #fff;
  font-size: 13px;
}

.sw-card-external {
  position: relative;
  margin-right: 6px;
  margin-left: 0px;
  padding: 5px 16px;
  background-color: #f4f6f8;
  -webkit-transition: border 150ms cubic-bezier(.39, .575, .565, 1), background-color 150ms cubic-bezier(.39, .575, .565, 1);
  transition: border 150ms cubic-bezier(.39, .575, .565, 1), background-color 150ms cubic-bezier(.39, .575, .565, 1);
}

.sw-card-external:hover {
  background-color: #fff;
}

.page-search {
  width: 100%;
  max-width: 620px;
  margin-bottom: 0px;
}

.sw-card__details-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.page-head__wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sw-card__details-name {
  font-size: 12px;
  line-height: 13px;
}

.cards-holder {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.cards-holder.cards-holder_list-view {
  display: block;
}

.sw-card__details-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  min-width: 130px;
  margin-right: -1px;
  margin-bottom: -1px;
  padding: 10px 12px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeef0;
}

.page-search__submit-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  bottom: 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 500px;
  background-color: #0ca4da;
  color: #fff;
  font-size: 13px;
}

.sw-card__pic {
  width: 200px;
  height: 180px;
  -o-object-fit: contain;
  object-fit: contain;
}

.page-sort-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 12px;
  padding: 10px 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
}

.sw-card-price {
  font-size: 16px;
  font-weight: 500;
}

.switch-view__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 11px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ebebeb;
  background-color: #fff;
  opacity: 0.5;
  cursor: pointer;
}

.switch-view__btn:hover {
  opacity: 1;
}

.switch-view__btn.is-active {
  border-color: #0ca4da;
  opacity: 1;
}

.switch-view__btn.is-active:hover {
  border-color: #0ca4da;
}

.sw-results {
  padding-top: 86px;
  padding-bottom: 86px;
}

.page-filters {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.page-search__input {
  height: 56px;
  width: 100%;
  margin-bottom: 0px;
  padding-right: 106px;
  padding-left: 52px;
  border: 1px solid #e9ebee;
  border-radius: 500px;
  background-color: #fff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.page-search__input:hover {
  border-color: #0995c6;
}

.page-search__input:focus {
  border-color: #08a4da;
  background-color: #fff;
}

.page-search__input::-webkit-input-placeholder {
  color: #82868f;
}

.page-search__input:-ms-input-placeholder {
  color: #82868f;
}

.page-search__input::-ms-input-placeholder {
  color: #82868f;
}

.page-search__input::placeholder {
  color: #82868f;
}

.pseudo-btn__dd-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 12px;
  height: 12px;
  margin-left: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sw-card__media {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-search__input-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-title {
  margin-top: 0px;
  margin-bottom: 6px;
  font-size: 26px;
  font-weight: 500;
}

.sw-card__price-span {
  margin-right: 6px;
  margin-bottom: 0px;
  padding-top: 2px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  font-size: 11px;
}

.page-search__search-icon {
  position: absolute;
  left: 20px;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: #969da5;
}

.page-title__wrap {
  position: relative;
}

@media screen and (min-width: 1440px) {
  .cards-holder {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 991px) {
  .page-filters__spot-name {
    display: none;
  }

  .page-sort {
    margin-top: 14px;
  }

  .page-head__filters {
    display: block;
  }

  .page-filter-btn {
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    white-space: nowrap;
  }

  .page-search {
    max-width: none;
    margin-top: 26px;
  }

  .page-head__wrap {
    display: block;
  }

  .cards-holder {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .sw-card__details-box {
    width: 33.333333333333336%;
    min-width: auto;
  }
}

@media screen and (max-width: 767px) {

  .sw-card__details {
    margin-right: 20px;
    margin-left: 10px;
  }

  .page-filters__spot-name {
    display: none;
  }

  .page-sort {
    width: 100%;
    margin-top: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .page-head__filters {
    margin-top: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .page-filter-btn {
    display: none;
  }

  .page-head__wrap {
    margin-bottom: 12px;
  }

  .sw-card__details-box {
    width: 50%;
  }

  .sw-card__pic {
    width: 180px;
  }

  .page-sort__pseudo-btn {
    margin-right: 20px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .sw-card-name {
    font-size: 13px;
  }
  
  .sw-results {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .sw-card {
    margin-bottom: 8px;
  }

  .sw-card__wrap {
    padding: 6px 10px;
  }

  .sw-card__details-body {
    display: none;
  }

  .sw-card__price-wrap {
    margin-top: 2px;
  }

  .sw-card-external img {
    width: 40px;
  }

  .sw-card-external {
    padding: 4px 10px;
  }

  .page-search {
    margin-top: 32px;
  }

  .cards-holder {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
  }

  .page-search__submit-btn {
    padding-right: 16px;
    padding-left: 16px;
  }

  .sw-card__pic {
    width: auto;
    height: auto;
    max-width: 60px;
  }

  .sw-card-price {
    font-size: 14px;
  }

  .page-search__search-icon {
    width: 20px;
    height: 20px;
  }

  .page-title__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.filter-spot__header {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/*Page styles*/

.form-box-wrap:last-child {
  margin-bottom: 0px;
}

.card-product-name,
.sw-card-name {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
}

/* Grid / List results view */
.cards-holder:not(.cards-holder_list-view) .sw-card {
  margin-bottom: 0px;
}

.cards-holder:not(.cards-holder_list-view) .sw-card__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cards-holder:not(.cards-holder_list-view) .sw-card-external {
  margin-right: 4px;
  margin-left: 4px;
}

.cards-holder:not(.cards-holder_list-view) .sw-card__details {
  display: block;
  padding-top: 14px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cards-holder:not(.cards-holder_list-view) .sw-card__details-body {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.cards-holder:not(.cards-holder_list-view) .sw-card__details-head {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.cards-holder:not(.cards-holder_list-view) .sw-card__details-footer {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .cards-holder:not(.cards-holder_list-view) .sw-card__details-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .cards-holder:not(.cards-holder_list-view) .sw-card__details-box {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .cards-holder:not(.cards-holder_list-view) .sw-card__wrap {
    padding: 20px;
  }

  .cards-holder:not(.cards-holder_list-view) .sw-card-external {
    margin-right: 3px;
    margin-left: 3px;
  }

  .cards-holder:not(.cards-holder_list-view) .sw-card__details {
    margin-right: 0px;
    margin-left: 0px;
  }

  .cards-holder:not(.cards-holder_list-view) .sw-card__details-body {
    display: none;
  }

}

@media screen and (max-width: 479px) {
  .cards-holder:not(.cards-holder_list-view) .sw-card__wrap {
    padding: 20px 13px 13px;
  }

  .cards-holder:not(.cards-holder_list-view) .sw-card__pic {
    height: 140px;
    max-height: none;
    max-width: none;
  }

  .cards-holder:not(.cards-holder_list-view) .sw-card-external {
    padding: 4px 6px;
  }
}

.is-blink {
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {
    opacity: .05;
  }

  30% {
    opacity: 1;
  }

  45% {
    opacity: .05
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: .05
  }
}

.filter-spot__fields-wrap label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 4px 0px;
}

.filter-spot__fields-wrap label>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filter-spot__fields-wrap label:hover span {
  color: #0ca4da;
}

.filter-spot__fields-wrap label>span {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-spot__fields-wrap label>span::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #eaebee;
  margin-right: 6px;
  flex-shrink: 0;
  flex-grow: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  transition: all 150ms cubic-bezier(.39,.575,.565,1);
}

.filter-spot__fields-wrap label>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #b3d7ff;
}

.filter-spot__fields-wrap label>input:not(:disabled):active+span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.filter-spot__fields-wrap label>input:focus+span::before {
  outline: 0;
}

.filter-spot__fields-wrap label>input:focus:not(:checked)+span::before {
  outline: 0;
}

.filter-spot__fields-wrap label>input:checked+span::before {
  border-color: #0ca4da;
  background-color: #0ca4da;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.filter-spot__fields-wrap label>input:disabled+span::before {
  background-color: #e9ecef;
}

.filter-spot__reset-btn {
  color: #a7aab1;
  font-size: 12px;
  cursor: pointer;
}

.filter-spot__reset-btn:hover {
  color: #0ca4da;
}

.modal-filter {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 110;
  display: none;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.modal-filter__body {
  padding: 0px;
}

.modal-filter__container {
  position: absolute;
  right: 0px;
  z-index: 2;
  overflow: auto;
  width: 100%;
  height: 100%;
  max-width: 529px;
  padding: 0px;
  background-color: #fff;
  -webkit-transition: all 300ms cubic-bezier(.39, .575, .565, 1);
  transition: all 300ms cubic-bezier(.39, .575, .565, 1);
}

.modal-filter__container.is-hidden {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.modal-filter-close {
  position: static;
  left: auto;
  top: 0px;
  right: 0px;
  bottom: auto;
  z-index: 3;
  width: 56px;
  height: 56px;
  margin-right: -20px;
  padding: 20px;
  -webkit-transition: all 250ms cubic-bezier(.39, .575, .565, 1);
  transition: all 250ms cubic-bezier(.39, .575, .565, 1);
  cursor: pointer;
}

.modal-filter-close:hover {
  color: #0ca4da;
}

.filter-spot__controls-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.filter-spot__form-max {
  position: relative;
  overflow: hidden;
  height: 260px;
}

.filter-spot__form-max.is-expanded {
  height: auto;
}

.filter-spot__checkbox {
  width: 18px;
  height: 18px;
  margin: 0px 6px -1px 0px;
  border-color: hsla(0, 0%, 80%, 0);
  border-radius: 2px;
  background-color: #eaebee;
  -webkit-transition: all 150ms cubic-bezier(.39, .575, .565, 1);
  transition: all 150ms cubic-bezier(.39, .575, .565, 1);
}

.filter-spot-dd {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
  margin-left: 12px;
  padding: 5px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.filter-spot-title {
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.filter-spot__toggle-btn {
  padding: 10px 36px;
  border-radius: 50rem;
  background-color: #f3f3f5;
  -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.filter-spot__toggle-btn:hover {
  background-color: #0ca4da;
  color: #fff;
}

.filter-spot__form-row {
  position: relative;
  margin-bottom: 18px;
}

.filter-spot__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding: 18px 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  cursor: pointer;
}

.filter-spot__header:hover {
  background-color: #f9f9fa;
}

.modal-filter__header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #eaeaeb;
  background-color: #fff;
}

.filter-spot__fields-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.filter-spot__row-title {
  margin-bottom: 8px;
  color: #b5b7bb;
  font-size: 14px;
  font-weight: 600;
}

.filter-spot__max-gradient {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), color-stop(35%, hsla(0, 0%, 100%, 0.64)), color-stop(53%, hsla(0, 0%, 100%, 0.89)), color-stop(88%, #fff));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.64) 35%, hsla(0, 0%, 100%, 0.89) 53%, #fff 88%);
}

.filter-spot {
  position: relative;
  padding: 0px;
  border-bottom: 1px solid #eaeaeb;
}

.filter-spot__body {
  display: none;
  margin-bottom: 0px;
  padding: 10px 32px 20px;
}

.filter-spot__body.filter-spot__body_visible {
  display: block;
}

.modal-filter__backdrop {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background-color: rgba(15, 18, 31, 0.8);
  -webkit-transition: all 300ms cubic-bezier(.39, .575, .565, 1);
  transition: all 300ms cubic-bezier(.39, .575, .565, 1);
}

.modal-filter__backdrop.is-hidden {
  opacity: 0;
}

.filter-spot__filter-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 12px;
  margin-bottom: 8px;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 150ms cubic-bezier(.39, .575, .565, 1);
  transition: all 150ms cubic-bezier(.39, .575, .565, 1);
  font-size: 13px;
  white-space: nowrap;
  cursor: pointer;
}

.filter-spot__filter-field:hover {
  color: #0ca4da;
}

.filter-spot__label {
  margin-bottom: 0px;
}

.modal-filter__header-title {
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .filter-spot__header:hover {
    background-color: #fff;
  }
}

@media screen and (max-width: 479px) {
  .filter-spot__header {
    padding-right: 20px;
    padding-left: 20px;
  }

  .filter-spot__body {
    padding: 2px 20px 20px;
  }

  .modal-filter__header {
    padding: 8px 20px;
  }

  .filter-spot {
    padding: 0px;
  }

  .modal-filter__backdrop {
    display: none;
    opacity: 0;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
  border-bottom: solid 0px transparent !important;
}

.header-content__wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-catalog__heading {
  margin-bottom: 16px;
  font-size: 26px;
  font-weight: 600;
}

.header-catalog__links {
  width: 100%;
  margin-top: 28px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.header-catalog__wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-nav {
  position: relative;
  z-index: 4;
  background-color: #fff;
  -webkit-transition: all 175ms cubic-bezier(.39, .575, .565, 1);
  transition: all 175ms cubic-bezier(.39, .575, .565, 1);
}

.header-nav.is-hidden {
  transform: translateY(-36px);
}

.header-content-group__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-catalog__spot-subtitle {
  color: #82868f;
  font-size: 12px;
}

.header-catalog__list li {
  position: relative;
  margin-right: 42px;
  margin-bottom: 18px;
  margin-left: -10px;
}

.header-catalog__list a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 250ms cubic-bezier(.39, .575, .565, 1);
  transition: all 250ms cubic-bezier(.39, .575, .565, 1);
}

.header-catalog__list a:hover {
  color: #0ca4da;
}


.header-catalog__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style-type: none;
}

.header-catalog__spot-title {
  font-weight: 500;
}

.header-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
  background: none;
  cursor: pointer;
  -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  transition: all 200ms cubic-bezier(.39, .575, .565, 1);
}

.header-btn:hover {
  color: #0995c6;
}

.header-btn svg {
  height: 17px;
  width: 17px;
  margin-right: 8px;
}

.header-btn.header-btn_search {
  margin-left: 0px;
}

.header-btn.header-btn_menu {
  display: none;
}

.header-catalog__spot-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-left: 8px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.header-nav__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-catalog__content {
  padding-top: 42px;
  padding-bottom: 42px;
}

.header-catalog-spot {
  width: 20%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.header-content {
  position: relative;
  z-index: 5;
  padding-top: 19px;
  padding-bottom: 13px;
  background-color: #fff;
}

.header-content-group {
  width: 33.333333333333336%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.header-content-group.group_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-content-group.group_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-catalog__spot-img {
  max-height: 50px;
}

.header-catalog {
  position: absolute;
  z-index: 3;
  overflow: hidden;
  width: 100%;
  height: 0px;
  margin-top: -2px;
  background-color: #f9f9fa;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: all 350ms cubic-bezier(.39, .575, .565, 1);
  transition: all 350ms cubic-bezier(.39, .575, .565, 1);
}

.header-catalog.is-visible {
  height: 460px;
}

.header-link {
  position: relative;
  margin-bottom: -1px;
  padding: 8px 14px 10px;
  -webkit-transition: all 250ms cubic-bezier(.39, .575, .565, 1);
  transition: all 250ms cubic-bezier(.39, .575, .565, 1);
  font-size: 13px;
  text-transform: uppercase;
}

.header-link:hover {
  color: #0ca4da;
}

.header-link::after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 0%;
  left: 0px;
  height: 2px;
  background-color: #0ca4da;
  transition: all 250ms cubic-bezier(.39, .575, .565, 1);
}

.header-link:hover::after {
  width: 100%;
}

.header-backdrop {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  display: none;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(15, 22, 31, 0.8);
  -webkit-transition: all 250ms cubic-bezier(.39, .575, .565, 1);
  transition: all 250ms cubic-bezier(.39, .575, .565, 1);
}

.header-backdrop.is-visible {
  display: block;
  opacity: 1;
}

.header-logo-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-btn__icon-wrap {
  width: 17px;
  height: 17px;
  margin-right: 8px;
}

.header-logo-symbol {
  width: 160px;
}

.header-catalog__links-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.header-catalog__links-wrap a {
  position: relative;
  margin-right: 40px;
  margin-bottom: 4px;
  padding-top: 4px;
  padding-bottom: 5px;
  -webkit-transition: all 250ms cubic-bezier(.39, .575, .565, 1);
  transition: all 250ms cubic-bezier(.39, .575, .565, 1);
  font-size: 13px;
  text-transform: capitalize;
}

.header-catalog__links-wrap a:hover {
  color: #0ca4da;
}

.header-catalog__links-heading {
  display: none;
  margin-bottom: 12px;
  color: #bdc1c9;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .header-btn.header-btn_search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .header-btn.header-btn_menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {

  .header-content__wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header-nav {
    display: none;
  }

  .header-btn {
    display: none;
  }

  .header-btn.header-btn_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .header-content-group {
    width: auto;
  }

  .header-content-group.group_right {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
  }

  .header-content-group.group_left {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .header-span-hide {
    display: none;
  }

  .header-btn__icon-wrap {
    width: 20px;
    height: 20px;
    margin-right: 0px;
  }
}

/* Search modal */
.modal-search__logo-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 46px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-search__form-submit {
  position: absolute;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50rem;
  background-color: #0ca4da;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.modal-search__close-icon {
  position: absolute;
  left: auto;
  top: 0px;
  right: 0px;
  bottom: auto;
  z-index: 3;
  width: 56px;
  height: 56px;
  padding: 20px;
  -webkit-transition: all 250ms cubic-bezier(.39, .575, .565, 1);
  transition: all 250ms cubic-bezier(.39, .575, .565, 1);
  cursor: pointer;
}

.modal-search__close-icon:hover {
  color: #0ca4da;
}

.modal-search__wrap {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-search__input-icon {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 8px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #cacdd1;
}

.modal-search__links-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.modal-search {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 101;
  background-color: #fcfcfc;
  display: none;
  opacity: 0;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 250ms cubic-bezier(.39, .575, .565, 1);
  transition: all 250ms cubic-bezier(.39, .575, .565, 1);
}

.modal-search.is-visible {
  opacity: 1;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.modal-search__logo-pic {
  width: 200px;
}

.modal-search__bg-img {
  position: absolute;
  left: auto;
  top: -0.3vw;
  right: 0%;
  bottom: auto;
  display: block;
  width: 60vw;
  height: 60vw;
}

.modal-search__bg-img.bg-img_fix {
  opacity: 1;
}

.modal-search__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 620px;
  margin-bottom: 46px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-search__form-field {
  height: 78px;
  width: 100%;
  margin: 0px;
  padding-right: 96px;
  padding-bottom: 9px;
  padding-left: 40px;
  border-style: none none solid;
  border-width: 1px 1px 1px 3px;
  border-color: #000 #000 #b1b9c2 #0f161f;
  border-radius: 0px;
  background-color: hsla(0, 0%, 100%, 0);
  -webkit-transition: all 250ms cubic-bezier(.39, .575, .565, 1);
  transition: all 250ms cubic-bezier(.39, .575, .565, 1);
  font-size: 28px;
  font-weight: 500;
}

.modal-search__form-field:hover {
  border-bottom-color: #0ca4da;
}

.modal-search__form-field:focus {
  border-style: none none solid;
  border-width: 1px 1px 1px 3px;
  border-color: #000 #000 #0ca4da #0ca4da;
}

.modal-search__form-field::-webkit-input-placeholder {
  color: #dee0e2;
}

.modal-search__form-field:-ms-input-placeholder {
  color: #dee0e2;
}

.modal-search__form-field::-ms-input-placeholder {
  color: #dee0e2;
}

.modal-search__form-field::placeholder {
  color: #dee0e2;
}

.modal-search__input-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-search__form-wrap {
  width: 100%;
  max-width: 620px;
  margin: 0px 0px 14px;
}

.modal-search__sub-link {
  margin: 6px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #82868f;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}

.modal-search__sub-link:hover {
  color: #08a4da;
}

@media screen and (max-width: 479px) {
  .modal-search__form-submit {
    padding-left: 16px;
  }

  .modal-search__wrap {
    padding-top: 10vh;
    padding-right: 16px;
    padding-left: 16px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .modal-search__input-icon {
    width: 20px;
    margin-right: 0px;
  }

  .modal-search__bg-img {
    top: 0%;
    width: 600px;
    height: auto;
  }

  .modal-search__form-field {
    padding-right: 65px;
    padding-left: 30px;
    border-radius: 0px;
    font-size: 18px;
  }

  .modal-search__form-field::-webkit-input-placeholder {
    color: #c7cbd1;
  }

  .modal-search__form-field:-ms-input-placeholder {
    color: #c7cbd1;
  }

  .modal-search__form-field::-ms-input-placeholder {
    color: #c7cbd1;
  }

  .modal-search__form-field::placeholder {
    color: #c7cbd1;
  }
}



/* Mobile menu */
.m-menu {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 103;
  display: none;
  padding-right: 0px;
}

.m-menu__sub-head {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px 10px 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #eaeaeb;
  background-color: #fff;
}

.m-menu__head-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.m-menu__row-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.m-menu__arrow-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-logo-symbol {
  width: 160px;
}

.m-menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style-type: none;
}

.m-menu__brand-nav a {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e8ecf1;
  font-size: 13px;
  text-transform: capitalize;
}

.m-menu__brand-nav a.nav-link_bold {
  font-weight: 500;
}

.m-menu__sub-close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.m-menu__sub-close svg {
  width: 20px;
  margin-right: 8px;
}

.m-menu__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
  padding: 42px 20px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.m-menu__content {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  overflow: hidden;
}

.m-menu__categories {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  overflow: auto;
  background-color: #fff;
  -webkit-transition: all 300ms cubic-bezier(.39, .575, .565, 1);
  transition: all 300ms cubic-bezier(.39, .575, .565, 1);
}

.m-menu__categories.is-hidden {
  -webkit-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  transform: translate(100%, 0px);
}

.m-menu__container {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 479px;
  background-color: #fff;
  -webkit-transition: all 300ms cubic-bezier(.39, .575, .565, 1);
  transition: all 300ms cubic-bezier(.39, .575, .565, 1);
}

.m-menu__container.is-hidden {
  opacity: 0;
  -webkit-transform: translate(0px, -80px);
  -ms-transform: translate(0px, -80px);
  transform: translate(0px, -80px);
}

.m-menu__search-icon {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 8px;
  padding-right: 14px;
  padding-left: 18px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #bfc7cf;
}

.m-menu__search-input-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.m-menu__nav {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}

.m-menu__heading {
  margin-bottom: 20px;
  font-weight: 600;
}

.m-menu__close {
  position: absolute;
  right: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  padding: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.m-menu__nav-spot {
  margin-bottom: 4px;
  color: #b5b7bb;
  font-size: 14px;
  font-weight: 600;
}

.m-menu__brand-nav .m-menu__nav-spot {
  margin-top: 20px;
}

.m-menu__backdrop {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: none;
  background-color: rgba(15, 22, 31, 0.8);
  -webkit-transition: all 250ms cubic-bezier(.39, .575, .565, 1);
  transition: all 250ms cubic-bezier(.39, .575, .565, 1);
}

.m-menu__sub-nav {
  display: -ms-grid;
  display: grid;
  margin-top: 14px;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.m-menu__search-wrap {
  width: 100%;
  max-width: 620px;
  margin: 32px 0px 0px;
}

.m-menu__link {
  display: block;
  margin-bottom: -1px;
  padding: 20px 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e8ecf1;
  cursor: pointer;
}

.m-menu__brand-nav {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 20px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.m-menu__search-input {
  height: 52px;
  width: 100%;
  margin: 0px;
  padding-right: 0px;
  padding-bottom: 9px;
  padding-left: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(12, 164, 218, 0);
  border-radius: 50rem;
  background-color: #f9f9fa;
  -webkit-transition: all 250ms cubic-bezier(.39, .575, .565, 1);
  transition: all 250ms cubic-bezier(.39, .575, .565, 1);
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.m-menu__search-input:focus {
  border: 1px solid #0ca4da;
  background-color: #fff;
}

.m-menu__search-input::-webkit-input-placeholder {
  color: #8c939c;
}

.m-menu__search-input:-ms-input-placeholder {
  color: #8c939c;
}

.m-menu__search-input::-ms-input-placeholder {
  color: #8c939c;
}

.m-menu__search-input::placeholder {
  color: #8c939c;
}

.m-menu__sub-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.m-menu__head-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.m-menu__sub-header-title {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.m-menu__sub-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f9f9fa;
  font-size: 13px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .m-menu__container {
    max-width: none;
  }
}

@media screen and (max-width: 479px) {
  .m-menu__search-icon {
    margin-right: 0px;
  }

  .m-menu__search-input {
    padding-right: 65px;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.WOFF') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.WOFF') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.WOFF') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.WOFF') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}